<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>list</title>
</head>
<body>
	<span sec:authentication="principal.user.username"></span>さんログイン中。
	<form th:action="@{/logout}" method="post">
	<input type="submit" value="ログアウト"/>
	</form>
<hr/>
<hr/>
<form th:action="@{/humans/create}" method="post">
				<input type="submit" value="登録画面へ"/>
				
</form>
<table>
	<tr>
		<th>ID</th>
		<th>名前</th>
		<th>性別</th>
		<th>誕生日</th>
		<th>担当者</th>
	</tr>
	<tr th:each="human : ${humans}">
		<td th:text="${human.id}"></td>
		<td th:text="${human.name}"></td>
		<td th:text="${human.sex}"></td>
		<td th:text="${human.age}"></td>
		<td th:text="${human.user.username}"></td>
		<td>
			<form th:action="@{/humans/edit}" method="get">
				<input type="submit" name="form" value="編集"/>
				<input type="hidden" name="id" th:value="${human.id}"/>
			</form>
		</td>
		<td>
			<form th:action="@{/humans/delete}" method="post">
				<input type="submit" value="削除"/>
				<input type="hidden" name="id" th:value="${human.id}"/>
			</form>
		</td>
	</tr>
</table>
<hr/>
<hr/>
	<table>
	<form th:action="@{/humans/usercreate}" method="post">
				<input type="submit" value="管理者登録画面へ"/>
				
	</form>
		<tr>
			<th>管理者:</th>
			<td th:each="user : ${users}">
			<label th:text="${user.username}"></label>
			<form th:action="@{/humans/userdelete}" method="post">
				<input type="submit" value="削除"/>
				<input type="hidden" name="id" th:value="${user.username}"/>
			</form>
			</td>			
		</tr>
	</table>
</body>
</html>
